.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .search-bar-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 3px 5px;
    background-color: #fff;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Optional: Limit maximum width */
  }
  
  .search-icon {
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }
  
  .search-bar {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1; /* Ensures input takes up remaining space */
    color: #aaa;
  }
  
  .search-bar::placeholder {
    color: #aaa; /* Style for placeholder text */
  }
  