.Navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 8vh;
    position: absolute;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.LogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CD-bold';
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 60px;
    border: 4px solid black;
}



.Navbar-right{
    display: flex;
}
