.Navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 8vh;
    /* border: 1px solid red; */
}

.LogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CD-bold';
    font-size: 3.5rem;
    color: black;
    width: 100px;
    height: 80px;
}

.Navbar-right{
    display: flex;
}
