.myEventsContainer{
    padding-top: 100px;
    width: 100vw;
    height: auto;
    background-image: url('/Images/DotsHome.svg');
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.myEventsContainer h1{
    font-family: 'CD-Semibold';
}

.myEventsWrapper{
    height: auto;

    width: 75%;
    padding: 20px;
}
