
.BookingContainer{  
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px black;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.FanscoreDetailContainer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-bottom: 0px;
    text-align: center;
    
}

.AddedToQueue{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'CD-Semibold';
}
.Fanscore{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF59F;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px black;
    padding-left: 60px;
    padding-right: 60px;

}
.Content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'CD-Medium';


}
.statement{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.3rem;
    font-family: 'CD-Medium';
    display: flex;
    justify-content: space-between;
}

.OK{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.button{

}