.myTicketsContainer{
    padding-top: 100px;
    width: 100vw;
    height: auto;
    /* border: 1px solid red; */
    background-image: url('/Images/DotsHome.svg');
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
}

.myTicketsContainer h1{
    font-family: 'CD-Semibold';
}

.TicketWrapper{
    min-height: 50vh;
    height: auto;
    width: 75%;
    /* border: 1px solid red; */
    padding: 20px;
}


